<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Spring DATA JPA Configuration -->
	<import resource="persistenceContext.xml" />

	<context:component-scan base-package="net.najiboulhouch.leavesmanagers" />

	<!-- Spring Security Configuration -->
	<import resource="spring-security.xml" />

	<!-- View Scope Bean -->
	<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes">
			<map>
				<entry key="view">
					<bean class="net.najiboulhouch.leavesmanagers.utils.ViewScope" />
				</entry>
			</map>
		</property>
	</bean>
	<!-- This bean is used to locate messages files  -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n/messages" />
	</bean>
</beans>